<mat-card *ngFor="let card of stringObject" style="margin:11px; width: 50%">
    <mat-card-header>
        <mat-card-title>
            {{card.name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{card.type}} 
        </mat-card-subtitle>
        <mat-card-subtitle> 
            Set: {{card.set}} --  {{card.rarity}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-image style="padding: 13px;">
        <img style="height:50%; width: 50%;" src="{{ card.imageUrl }}" />
    </mat-card-image>
    <mat-card-content>
        <p>
            Color Identity: {{card.colorIdentity}}
        </p>
        <div>
            {{card.text}}
        </div>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button> Buy product lol</button>
    </mat-card-actions> -->
</mat-card>