<div style="padding: 13px;">
    <mat-spinner *ngIf="cards.length === 0"></mat-spinner>

    <app-common-card></app-common-card>
    <app-common-card></app-common-card>
    <app-common-card></app-common-card>
    <app-common-card></app-common-card>
    <app-common-card></app-common-card>
    <app-common-card></app-common-card>
    <app-common-card></app-common-card>
    <app-common-card></app-common-card>
    <app-common-card></app-common-card>
    <app-common-card></app-common-card>
    <app-uncommon-card></app-uncommon-card>
    <app-uncommon-card></app-uncommon-card>
    <app-uncommon-card></app-uncommon-card>
    <app-rare-card></app-rare-card>

</div>